header {
  display: flex;
  position: relative;
  height: 400px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
}

.profile {
  display: flex;
  padding-top: 68px;
  flex-direction: column;
  align-items: center;
}
img {
  display: flex;
  height: 185px;
  width: auto;
}
.profile .name {
  display: flex;
  margin: 0px;
  /* padding-bottom: 200px; */
}