/* Mobile Styles */
#head-avatar {
  display: flex;
  height: 185px;
  width: auto;
}

.profile {
  align-items: center;
  background-color: lightblue;
  background-image: url("https://www.transparenttextures.com/patterns/clean-textile.png");
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  margin-top: 0.6em;
  padding-bottom: 0.9em;
  padding-top: 1.7em;
  position: relative;
  min-width: 100%;
}

#page-head {
  width: 100%;
}

.profile .name {
  display: flex;
  margin: 0px;
}

 /* Tablet Styles */
 @media only screen and (min-width: 768px) {
  #page-head {
    float: left;
    margin-top: 7em;
    padding-left: 2em;
    width: 33.3%;
  }

  .profile {
    padding-top: 1em;
  }
}

/* Desktop styles */
@media only screen and (min-width: 1024px) {
  #page-head {
    float: left;
    margin-top: 7em;
    padding-left: 2em;
    width: 33.3%;
  }

  .profile {
    padding-top: 1em;
  }
}