/* Mobile Styles */
button {
  background-color: #4056A1;
  color: white;
  font-family: bungee;
}

.counter {
  display: flex;
  font-weight: bold; 
}

div.error {
  border: solid;
  border-color: red;
  border-radius: 10px;
  color: red;
  display: flex;
  font-size: .75em;
  justify-content: center;
}

div.success {
  border: solid;
  border-color: #73AD21;
  border-radius: 10px;
  color: #73AD21;
  display: flex;
  font-size: .75em;
  justify-content: center;
}

footer {
  align-items: stretch;
  border-top: solid;
  display: flex;
  justify-content: space-between;
}

.new-tweet {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

#no-tweet {
  align-self: center;
  display: none;
}

#too-long {
  align-self: center;
  display: none;
} 

.tweet-submit {
  margin-bottom: 40px;
  padding-top: 10px;
}

#tweet-success {
  align-self: center;
  display: none;
}

#tweet-text {
  align-items: stretch;
  background-color: transparent;
  border: none;
  display: flex;
  font-size: .75em;
  height: 30px;
  margin-top: 2em;
  resize: none;
  width: 100%;
}

 /* Tablet Styles */
 @media only screen and (min-width: 768px) {
  body {
    flex-direction: row;
  }
  
    main {
      float: right;
      margin-top: 2em;
      padding-left: 3em;
      padding-right: 2em;
      padding-top: 3.5em;
      width: 66.6%;
    }
}

/* Desktop styles */
@media only screen and (min-width: 1024px) {
body {
  flex-direction: row;
}

  main {
    float: right;
    margin-top: 2em;
    padding-left: 5em;
    padding-right: 2em;
    padding-top: 3.5em;
    width: 66.6%;
  }
}