button {
  font-family: bungee;
  background-color: #4056A1;
  color: white;
}
/* main {
  display: flex;
} */

/* .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */
 label {
   display: flex;
 }
#tweet-text {
  display: flex;
  align-items: stretch;
  z-index: 8;
  background-color: transparent;
  border: none;
  resize: none;
  height: 20px;
  width: 100%;
}

footer {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  border-top: solid;
  /* margin-top: 10px; */
  /* margin-bottom: 40px; */
}

.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* flex-direction: column; */
  justify-content: stretch;
}

.counter {
  display: flex;
  font-weight: bold;
  
}

.tweet-submit {
  margin-bottom: 40px;
  padding-top: 10px;
}