article.tweet header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.avatar {
  height: 50px;
  margin-right: 15px;
  opacity: 0.5;
  width: auto;
}

.fa-flag:hover {
  color: goldenrod;
}

.fa-heart:hover {
  color: goldenrod;
}

.fa-retweet:hover {
  color: goldenrod;
}

h4 {
  font-size: 0.8em;
  font-weight: 150;
  margin-bottom: 15px;
  margin-top: 15px;
}

h5 {
  font-size: 0.66em;
  margin: 15px;
}

#handle {
  color: rgb(166, 196, 228);
  font-weight: bold;
  opacity: 0.5;
}

#icons {
  align-self: center;
  color: #4056A1;
  font-size: 0.5em;
}

p {
  font-size: 0.5em;
  margin-bottom: 5px;
}

.tweet {
  border: solid;
  margin-bottom: 25px;
  padding: 15px;
}

.tweet:hover {
  box-shadow: 12px 12px 2px 1px rgba(167, 167, 185, 0.363);
}

.user {
  display: flex;
  font-weight: 200;
}